{
	"env": {
		"node": {
			"plugins": [
				["system-import-transformer", {
					"modules": "amd"
				}],
				["css-modules-transform", {
					"extensions": [".scss"]
				}]
			],
		}
	},
	"presets": ["env", "react", "stage-0"]
}