{
	"env": {
		"node": {
			"plugins": [
				["system-import-transformer", {
					"modules": "amd"
				}],
				["css-modules-transform", {
					"extensions": [".scss"]
				}]
			],
		}
	},
	"presets": [
		"react",
		"stage-0",
		["env", {
			"targets": {
				"browsers": [">1%",
					"last 4 versions",
					"Firefox ESR",
					"not ie < 9"
				]
			}
		}]
	]
}