.button {
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 40px;
}
