.pun {
    font-family: sans-serif;
    text-align: left;
}

.joke {
    color: #222;
    display: block;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.punch-line {
    background-color: #222;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
    padding: 5px;
}
